.card {
    width: 500px;
    height: fit-content;
    border: 3px solid black;
    border-radius: 25px;
    background-color: rgb(251, 255, 196);
    margin: 10px;
}

.card-imagem {
    width: 70%;
    height: 70%;
}

.card-imagem img {
    width: 100px;
    border-radius: 50%;

}


.card-titulo {
    font-size: 35px;

}

.card-titulo-nome {
    color: rgb(249, 193, 6);

}

.card-mensagem span  {
    font-style: italic;
    font-weight: bold;
    color: rgb(249, 193, 6);

}